<!DOCTYPE html>
<html lang="en" ng-app="actorPage">
<head>
    <title>Get Actors By Name</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="javascripts/actors.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body data-spy="scroll" data-target=".scrollspy">
<header></header>
<div class="container">
    <div ng-controller="actorController">
        <span aria-hidden="true" class="glyphicon text-primary glyphicon-search">Search By Name</span>
        <input name="actorName" ng-model="actorName" value="" placeholder="name of actor"/>
        <select ng-model="actorSex" ng-options="sex for sex in sexes"  ng-init="actorSex=sexes[0]"></select>
        <button type="button" ng-click="Submit()" class="button">Submit</button>
        <div>
            <p ng-repeat="actor in data">
                {{actor}}
            </p>
        </div>
    </div>

</div>
</body>
</html>